<% include ./partials/header %> 

<div class="bg-linear">
	<div class="container-fluid">
		<div class="col-xs-3 col-md-4"></div>

		<div class="col-xs-6 col-md-4 h-center margin-center">
			<h1 class="text-center mb-3">Login!</h1>
				<form action="/login" method="POST">
					<input type="text" class="form-control mt-5" name="username" placeholder="username">
					<input type="password" class="form-control mt-5" name="password" placeholder="password"><br>
					<input type="submit" class="btn btn-primary btn-center" value="Login!">
				</form>
		</div>

		<div class="col-xs-3 col-md-4"></div>
	</div>	
</div>

<% include ./partials/footer %> 
