.bg-linear{
	background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	height: 650px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}

.delete-form{
    display: inline;
}

.checked{
	color: orange;
}

.navbar {
	margin-bottom: 0 !important;
}


.margin-center {
	background-color: lightgrey;
	height: 250px;
	margin-top: 12%;
	padding-bottom: 1%;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.btn-center{
	margin-left: 40%;
	margin-right: auto;
}

.margin-top{
	margin-top: 5%;
}

.mb-1 {
	margin-bottom: 4%;
}

.mt-5{
	margin-top: 24px;
}

.p-0{
	padding: 0;
}

.pb-5{
	padding-bottom: 5px;
}

/* Maps 'Mapbox' */
#map {
    height: 400px;
    width: 100%;
}

.marker {
background-image: url('/images/mapbox-icon.png');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}